<div class="col pagination-cont float-right">
    <nav class="float-right mt-2 esp-pagination">
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Page:</a>
            </li>
            <li class="page-item">
                <input type="text" [(ngModel)]="currPage" (keyup.enter)="pageNavigate($event.target.value)"
                    class="form-control pagnation-input" digitOnly>
            </li>

            <li class="page-item disabled" style="width:90px;">
                <a class="page-link" href="#">of {{totalPages}}</a>
            </li>
            <li class="page-item" [class.disabled]="1 >= currPage">
                <a class="page-link arrows" (click)="pageNavigate(currPage - 1)">
                    <i class="material-icons">
                        arrow_left
                    </i>
                </a>
            </li>
            <li class="page-item" [class.disabled]="currPage === totalPages">
                <a class="page-link arrows" (click)="pageNavigate(currPage + 1)">
                    <i class="material-icons">
                        arrow_right
                    </i>
                </a>
            </li>
        </ul>
    </nav>
</div>