<div class="row esp-sub-header pt-2">
    <div *ngIf="isLoading" class="progress-img d-flex text-center">
        <img src="assets/images/esp-loader-genreal.gif" class="justify-content-center align-self-center mx-auto">
    </div>
    <div class="col-md-2 col-sm-12">
        <figure><img src="./assets/images/image.png"></figure>
    </div>
    <div class="col text-lg-right text-md-left text-sm-left text-left">
        <div class="float-lg-left float-md-left"><label class="label-black">Adding Details for&nbsp;</label> <label
                class="label-light"> <i>{{currentProduct.AsiProdNo}} {{currentProduct.AsiProdNo ? '/' : ''}}
                    {{currentProduct.Name}} </i></label>
        </div>
        <div class=" float-lg-right float-md-left">
            <div class="col"> <a href="#/searchProduct" class="mr-3">Manage My Products</a>
                <span *ngIf="hasPreviousProduct">
                    <a (click)="getNextOrPreviousProduct(false)" href="#/optimizeProduct" class="mr-3">Previous
                        Product</a>
                </span>
                <span *ngIf="!hasPreviousProduct">
                    <a class="mr-3">Previous Product</a>
                </span>
                <span *ngIf="hasNextProduct">
                    <a (click)="getNextOrPreviousProduct(true)" href="#/optimizeProduct" class="mr-3">Next Product</a>
                </span>
                <span *ngIf="!hasNextProduct">
                    <a class="mr-3">Next Product</a>
                </span>
                <a href="#/searchProduct"> Cancel and Exit</a>
            </div>
            <div class="col"> <label class="label-black">{{supplier.CompanyName}}</label> <label
                    class="label-red">&nbsp;asi/{{supplier.AsiNumber}}</label><label
                    class="label-black">&nbsp;({{supplier.CountryCode}})</label></div>
        </div>
    </div>
</div>
<div class="row h-100">
    <div class="col-12">
        <div class="d-block border mb-4 pb-4 h-100">
            <div class="col-12 col-md-6 col-lg-3">
                <h5 class="pt-2">Product Optimization</h5>
            </div>
            <div class="col-12 d-flex flex-row">
                <div class="p-0">
                    <div class="figure product-image-thumb">
                        <img style="width:114px;height:126px;"
                            src="{{ currentProduct.PrimaryImageUrl && currentProduct.PrimaryImageUrl !== '' ? currentProduct.PrimaryImageUrl : './assets/images/no_image.png' }}">
                    </div>
                </div>
                <div class="p-3">
                    <label class="label-black">Product SEO Status:&nbsp;</label>
                    <label class="label-light">{{ currentProduct.SEOStatus }}</label>
                    <div class="clearfix"></div>
                    <label class="label-dark">XID:&nbsp;</label><label
                        class="label-red">{{currentProduct.ExternalProductId}}</label>
                </div>
            </div>
            <div class="col-12 col-md-12 col-sm-12 col-lg-6 float-lg-left float-md-none float-sm-none ">
                <div class="col-12 product-optimization-aside">
                    <h5 class="pt-3">Current Data</h5>
                    <p class="label-black mb-0">Description</p>
                    <p class="product-supplier">{{currentProduct.Description}}</p>
                    <p class="label-black mb-0">Summary</p>
                    <p class="product-summary">{{currentProduct.Summary}}</p>
                    <p class="label-black mb-0">Category</p>
                    <table class="table category-table">
                        <thead>
                            <tr>
                                <td>Categories</td>
                                <td>Product</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container *ngIf="currentProduct && currentProduct.ProductCategories">
                                <tr *ngFor="let category of currentProduct.ProductCategories">
                                    <td>{{category.Value}}</td>
                                    <td>{{category.Type}}</td>
                                </tr>
                            </ng-container>
                        </tbody>
                    </table>
                    <p class="label-black mb-0">Product Keywords:</p>
                    <p>{{productKeywords ? productKeywords : 'N/A'}}</p>
                    <p class="label-black mb-0">SEO Keywords:</p>
                    <p>{{seoKeywords ? seoKeywords : 'N/A'}}</p>
                    <p class="label-black mb-0">Advertising Keywords:</p>
                    <p>{{adKeywords ? adKeywords : 'N/A'}}</p>
                    <p class="label-black mb-0">Product Theme:</p>
                    <p *ngIf="hasProductThemes">{{ hasProductThemes ? currentProduct.ProductThemes : 'N/A'}}</p>
                </div>
            </div>
            <form (ngSubmit)="saveSeoProduct()" #optimizeForm="ngForm" class="h-100" autocomplete="off"
                (keydown.enter)="$event.preventDefault()">
                <div class="col-12 col-md-12 col-sm-12 col-lg-6 float-lg-left float-md-none float-sm-none ">
                    <div class="col-12 product-optimization-aside">
                        <h5 class="pt-3">SEO Data</h5>
                        <p class="label-black mb-0">Optimized Description</p>
                        <div class="form-group">
                            <textarea [(ngModel)]="seoProduct.Description" #description="ngModel" name="description"
                                required class="form-control" rows="4" maxlength="800" (click)="onClick()"></textarea>
                            <label class="label-light">{{seoProduct.Description.length}} of 800 characters</label>
                            <div *ngIf="description.invalid && (description.dirty || description.touched)"
                                class="error text-danger">
                                <div *ngIf="description.errors.required">
                                    <i class="material-icons">info</i> Product description is required.
                                </div>
                            </div>
                        </div>
                        <p class="label-black mb-0">Optimized Summary</p>
                        <p>Enter an abridged description for quick view and other short description areas</p>
                        <div class="form-group">
                            <textarea [(ngModel)]="seoProduct.Summary" #summary="ngModel" name="summary" required
                                class="form-control" rows="Z" maxlength="130"></textarea>
                            <label class="label-light">{{seoProduct.Summary?.length}} of 130 characters</label>
                            <div *ngIf="summary.invalid && (summary.dirty || summary.touched)"
                                class="error text-danger">
                                <div *ngIf="summary.errors.required">
                                    <i class="material-icons">info</i> Product summary is required.
                                </div>
                            </div>
                        </div>
                        <p class="label-black mb-0">Categories</p>
                        <p>Choose up to 2 categories that describe your product.</p>
                        <button type="button" (click)="openProductCategories()"
                            class="btn esp-btn-white my-1 mr-2">Choose a Category</button>
                        <table class="table category-table">
                            <thead>
                                <tr>
                                    <td>Categories</td>
                                    <td>Type</td>
                                    <td></td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let category of this.categoryService.getCategories()">
                                    <td>{{category.Value}}</td>
                                    <td>{{category.Type}}</td>
                                    <td>
                                        <a class="remove-searched"><input (click)="removeCategory(category.Value)"
                                                type="button" /> <i class="material-icons">close</i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <p class="label-black mb-0">SEO Keywords:</p>
                        <div class="form-group">
                            <span class="d-flex justify-content-between"><label class="label-light ">Seperate keyword
                                    with a
                                    comma</label>
                                <button type="button" [disabled]="seoProduct.SeoKeywords.length == 0"
                                    (click)="openClearAll(true)" class="btn btn-blue my-1">Clear
                                    All</button>
                            </span>
                            <span class=" e-keyword" *ngFor="let keyword of seoProduct.SeoKeywords">
                                <a class="remove-searched">{{keyword}}
                                    <input (click)="cancelItem(keyword, true)" type="text" />
                                    <i class="material-icons">close</i>
                                </a>
                            </span>
                            <input type="text" [(ngModel)]="seoKeyword" name="seoKeyword"
                                (keyup.enter)="enterKeyword(seoKeyword)" class="form-control keyword-sel-text-bx" />
                        </div>
                        <p class="label-black mb-0">Product Theme:</p>
                        <div class="form-group">
                            <span class="d-flex justify-content-between float-right">
                                <button type="button" [disabled]="seoProduct.ProductThemes.length == 0"
                                    (click)="openClearAll(false)" class="btn btn-blue my-1">Clear
                                    All</button>
                            </span>
                            <span class=" e-keyword" *ngFor="let theme of seoProduct.ProductThemes">
                                <a class="remove-searched">{{theme}}
                                    <input (click)="cancelItem(theme, false)" type="text" />
                                    <i class="material-icons">close</i>
                                </a>
                            </span>
                            <input name="searchtxt" id="searchtxt" type="text" class="form-control keyword-sel-text-bx"
                                [(ngModel)]="searchTheme" [ngbTypeahead]="search" [resultFormatter]="formatter"
                                (selectItem)="themeSelected($event)" />
                        </div>
                        <hr>
                        <div class="form-group mt-2 col-2 p-0">
                            <select name="themeddl" class="form-control" [(ngModel)]='themeSearchFilter'>
                                <option disabled>Search Filter Options</option>
                                <option>Start With</option>
                                <option>Contains</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-12 text-lg-right text-md-right text-sm-right text-center mt-1 ">
                    <button type="button" class="btn btn-blue cancel my-1 mr-2">Cancel</button>
                    <button type="button" class="btn btn-blue my-1 mr-2">Done</button>
                    <button type="submit" class="btn btn-blue my-1">Save</button>
                </div>
                <div class="clearfix"></div>
            </form>
        </div>
    </div>
</div>