<form (ngSubmit)="loginAsiSeo()" #seoForm="ngForm" class="h-100">
    <div *ngIf="isLoading" class="progress-img d-flex text-center">
        <img src="assets/images/esp-loader-genreal.gif" class="justify-content-center align-self-center mx-auto">
    </div>
    <section class="container-fluid h-100 esplogin-form">
        <div class="row h-100">
            <div class="col-12 col-lg-5 col-sm-12 login-cont border-right bg-md-gray">
                <div class="col-9 text-right pb-5 mt-3">
                    <img src="./assets/esp.png">
                </div>
                <div *ngIf="(error && error == 'Your login credentials are invalid. Please review the information and try again.')
                                    && !(asiNumber.invalid || username.invalid || password.invalid)">
                    <span class="error text-danger" id="loginMsg">
                        <i class="material-icons">info</i>&nbsp;<strong>
                            Your login credentials are invalid.</strong> Please review the information and try
                        again. If you need further assistance, visit our <a
                            href="https://www.asicentral.com/asp/open/CustomerSupport/support.aspx?menu=top&amp;id=2379"
                            target="_blank">Knowledge Base</a>.
                    </span>
                </div>
                <div *ngIf="error && error == 'Input string was not in a correct format.'">
                    <span class="error text-danger" id="loginMsg">
                        <i class="material-icons">info</i>
                        ASI Number is not valid
                    </span>
                </div>
                <div class="col-5 p-0 p-sm-0 p-lg-4 esp-login-form float-right">
                    <div class="form-group">
                        <label>ASI Number</label>
                        <div class="input-group mb-2">
                            <div class="input-group-prepend">
                                <div class="input-group-text">ASI/</div>
                            </div>

                            <input [(ngModel)]="loginSeo.Asi" #asiNumber="ngModel" required autoFocus type="text"
                                class="form-control" placeholder="" name="asiNumber" autocomplete="off">
                        </div>
                        <div *ngIf="asiNumber.invalid && (asiNumber.dirty || asiNumber.touched)"
                            class="error text-danger">
                            <div *ngIf="asiNumber.errors.required">
                                <i class="material-icons">info</i> ASI Number is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Username</label>
                        <input [(ngModel)]="loginSeo.Username" #username="ngModel" required type="text"
                            class="form-control" placeholder="Username" name="username" autocomplete="off">
                        <div *ngIf="username.invalid && (username.dirty || username.touched)" class="error text-danger">
                            <div *ngIf="username.errors.required">
                                <i class="material-icons">info</i> Username is required.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input [(ngModel)]="loginSeo.Password" #password="ngModel" required type="password"
                            class="form-control" name="password" autocomplete="off">
                        <div *ngIf="password.invalid && (password.dirty || password.touched)" class="error text-danger">
                            <div *ngIf="password.errors.required">
                                <i class="material-icons">info</i> Password is required.
                            </div>
                        </div>
                    </div>
                    <div class="custom-control custom-checkbox my-1 mr-sm-2 ml-4">
                        <input [(ngModel)]="rememberPreference" name="rememberPreference" type="checkbox"
                            class="custom-control-input" id="rememberPreference">
                        <label class="custom-control-label label-light" for="rememberPreference">Remember Me</label>
                    </div>
                    <div class="form-group">
                        <button class="btn-blue my-1" [disabled]="!seoForm.form.valid">Login</button>
                    </div>
                    <a href="" class="esp-link">Need a license?</a> <a class="esp-link">|</a><a href=""
                        class="esp-link"> Trouble logging in?</a>
                    <label class="label-light">Product Support (800) 546-1350</label>
                </div>
                <div class="login-footer">
                    <div class="col-11">     <img src="./assets/asiLogo-login.png"></div>
                    <div class="col-11">© 2019, The Advertising Specialty Institute®. All Rights Reserved.</div>
               
                  


                </div>

            </div>
            <div class="col-12 col-sm-12 col-lg-3 bg-gray border-right">
                <h5 class="pb-2  pt-lg-5 pt-sm-1 pt-1 mt-lg-5 mt-1 mt-sm-1">Messages</h5>
                <div class="row border-bottom pb-3">
                    <div class="col-12">

                        <label class="date">12/12/2014</label>
                        <p>Display your updates in 'Real-time' using ESP Updates. </p>
                        <a href="">Learn more</a>
                    </div>

                </div>
                <div class="row border-bottom pb-3">
                    <div class="col-12">

                        <label class="date">12/12/2014</label>
                        <p>Display your updates in 'Real-time' using ESP Updates. </p>
                        <a href="">Learn more</a>
                    </div>

                </div>
                <div class="row border-bottom pb-3">
                    <div class="col-12">

                        <label class="date">12/12/2014</label>
                        <p>Display your updates in 'Real-time' using ESP Updates. </p>
                        <a href="">Learn more</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-4 col-sm-12 bg-gray">
                <h5 class="pb-2  pt-lg-5 pt-sm-1 pt-1 mt-lg-5 mt-1 mt-sm-1">Popular Support Articles</h5>
            </div>
        </div>
    </section>

</form>