
@{
    ViewBag.Title = "EIT";
}

<h1>Hello @ViewBag.Greeting</h1>
<h2>EIT</h2>



<form action="/Account/LogOff" id="logoutForm" method="post">
    <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
</form>