<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="LoginUrl" value="/login" />
  <add key="EsbConnectionString" value="host=localhost;username=guest;password=guest"/>
  <add key="EsbNonVeloConnectionString" value="host=localhost;username=guest;password=guest"/>
  <add key="log4net.Config" value="log4net.config"/>
  <add key="EnableLogging" value="true" />
  <add key="ApplicationCode" value="SEOP" />
  <add key="ApplicationVersion" value="1.0.0" />
  
  <add key="SecurityKeyPath" value="D:\\WebSites\\LoginKeys\\Local\\VELO\\"/>
  <add key="GlobalSecurityKeyPath" value="D:\\WebSites\\LoginKeys\\Global\\"/>

</appSettings>
