<?xml version="1.0"?>
<connectionStrings>
  <add name="AsiSecurityConnection" connectionString="Data Source=ASI-SQLDS-17.asinetwork.local; initial catalog=ASI_Security; uid=AppAuthUser; pwd=IntbTdbaV0tTak" />
  <add name="MmsConnection" connectionString="Data Source=ASI-SQLDS-17.asinetwork.local; initial catalog=MemberMgmtMaster; uid=AppAuthUser; pwd=IntbTdbaV0tTak" />
</connectionStrings>