<div class="modal-header esp-modal-header">
    <h4 *ngIf="isSelectCategoryTypeView" class="modal-title">Select Category Type</h4>
    <h4 *ngIf="!isSelectCategoryTypeView" class="modal-title">Choose Categories</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div *ngIf="isSelectCategoryTypeView">
        <button type="submit" class="btn btn-blue my-1" (click)="showCategories(true)">Product</button> &nbsp;
        <button type="submit" class="btn btn-blue my-1" (click)="showCategories(false)">EIT</button>
    </div>
    <div *ngIf="!isSelectCategoryTypeView">
        <em>All Available Categories</em>
        <hr>
        <div class="search-cat form-inline">
            <label>Search Categories:&nbsp;</label>
            <input class="form-control" type="text" (input)="onSearchChange($event.target.value)">
        </div>
		<hr>
        <div class="row float-left" *ngIf='productCategories && productCategories.length > 0'>
            <div class="d-block email-supplier-form py-2 col-6 col-md-6 col-lg-6"
                *ngFor="let productCategory of productCategories">
                <div class="margin0">
                    <div class="control-group checkbox">
                        <input type="checkbox" [(ngModel)]="productCategory.IsSelected"
                            (change)="onCategoryChecked(productCategory)"
                            [disabled]="productCategory.IsDisabled">
                        <span data-bind=" text: name">{{productCategory.Value}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer py-2">
    <div *ngIf="isSelectCategoryTypeView">
        <button type="submit" class="btn btn-blue my-1" (click)="close()">Cancel</button>
    </div>
    <div *ngIf="!isSelectCategoryTypeView">
        <div class="inline-block marginR10">
            <span>{{selectedCategoryCount}} </span>
            <span>categories selected &nbsp;&nbsp;</span>
        </div>
        <button type="submit" class="btn btn-blue my-1" (click)="applyCategories()">Apply</button>
    </div>
</div>